# Ignore all .log files
*.log

# Ignore all .env files (you might not want sensitive environment variables included)
*.env

# Ignore all __pycache__ directories (for Python projects)
**/__pycache__/

# Ignore node modules (for Node.js projects)
# To ignore the node_modules directory inside the reactapp directory, you need to have a separate .dockerignore file within the reactapp 

# Ignore other non-essential files
.DS_Store

build/
dist/
.git/
