.noteitem-container {
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
  width: 100%;
  justify-content: center;
}

.noteitem {
  display: flex;
  justify-content: center;
  color: black;
  text-align: left;
  margin: 5px 0;
  width: 100%;
}

.noteitem-info-notready {
  word-wrap: break-word;
  width: 100%;
  background: white;
  padding: 4px 8px;
  border-radius: 5px 0 0 5px;
}

.noteitem-info-ready {
  word-wrap: break-word;
  width: 100%;
  background: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.noteitem button {
    border: none;
    width: 27px;
    color: white;
    align-items: center;
    justify-content: center;
}

.noteitem .xmark-btn {
  background: red;
  border: none;
  width: 28.5px;
  color: white;
  border-radius: 0 5px 5px 0;
}