.open-orders-nav-container {
    width: 100%;
    background-color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
    padding: 1rem 0.8rem;
}

.open-orders-nav-container .row1 {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items:center; 
  justify-content: center;
  margin-top: 0.5rem;
}

.open-orders-nav-container .row2 {
  width: 100%; 
  display: flex;
  flex-direction: row;
  align-items:center; 
  justify-content: center;
  margin-bottom: 0.5rem;
}

.open-orders-nav-container input,
.open-orders-nav-container button {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
}

.open-orders-nav-container input:focus {
  outline: none;
}

.open-orders-nav-container input {
    width: 150px;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .open-orders-nav-container form button {
    width: 27px;
    background-color: white;
    border-radius: 5px;
  }

  .open-orders-nav-container button:hover {
    opacity: 0.5;
  }


  .open-orders-nav-container button {
    border-radius: 5px;
    margin: 0 5px;
  }

  .open-orders-nav-container .svg-inline--fa {
    color: rgb(92, 92, 92);
  }

  
  .open-orders-nav-container select {
    padding: 4px 8px;
    border: none;
    width: 150px;
    border-radius: 5px;
    margin: 0 5px;
  }

  .open-orders-nav-container select:focus {
    outline: none;
  }

