
.box-container {
    display: flex;
    transition: all 1s ease;
    width: 100%;
    justify-content: center;
  }
  
  .box {
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: center;
    color: black;
    text-align: left;
  }
  
  
  .box-info {
      word-wrap: break-word;
      width: 210px;
      background: white;
      padding: 4px 5px;
    }
  
  .box-note {
      margin: 0 5px ;
      word-wrap: break-word;
      width: 210px;
      background: white;
      padding: 4px 5px;
  }
    
  
  .box button {
    border: none;
    width: 25px;
    color: white;
    margin: 0;
  }
  
  .up-btn {
    background: steelblue;
  }
  
  .down-btn {
    background: blue;
  }
  
  .xmark-btn {
    background: #ff8f00;
    align-items: flex-end;
  }

  
/* Media query for screen size less than 815px */
@media (max-width: 815px) {
  .box-note {
    width: 150px; /* Set the different width for smaller screens */
    /* Additional styles for .box-note at smaller screen sizes */
  }
  .box-info {
    width: 150px;
  }
}