

.card-container {
    display: flex;
    flex-direction: column;
    background: #0e8595;
    width: 450px; 
    margin: 40px auto;
    padding: 30px;
    border-radius: 50px; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    font-weight: 400;
  }
  
  .row {
    width: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
    padding: 20px 10px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  #row1 {
    flex-direction: column;
    background: white;   
  }
  
  #row2 {
    flex-direction: column;
    background: white;   
  }
  
  #row3 {
    flex-direction: column;
    background: rgb(223, 221, 221);   
  }
  
  #row4 {
    flex-direction: row;
    box-shadow: none;
  }
  
  #row4 button {
    background-color: white;
    border: none;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  #row4 button:hover {
    background-color: rgb(212, 210, 210);
    box-shadow: none;
  }
  
  .card-data-table {
    text-align: left;
    border-radius: 10px; 
    border-collapse: collapse;
    width: 90%;
  }
  
  .card-data-table th,
  .card-data-table td {
    padding: 10px 10px 10px 10px;
  }
  
  .col1 {
    text-align: left;
    width: 25%;
  }
  
  .col2 {
    text-align: left;
    width: 75%;
    font-weight: 700;
  }
  
  .dimensions-data {
    width: 90%;
  }
    
  .items-table {
    color: #1b4965;
    text-align: left;
    padding: 5px 2px;
    border-collapse: collapse;
    width: 90%;
  }
    
  
  .items-table td {
    border-bottom: 1px solid rgba(63, 63, 63, 0.75);
    margin: 20px 20px;
    padding: 10px;
  }
  
  .items-table tbody {
    margin: 20px 0;
  }
  
  .items-table tbody tr:last-child td {
    border-bottom: none; /* Remove the border from the last row */
  }
  
  .qty {
    text-align: right;
    width: auto;
    font-weight: 700;
  }
  
  .row4-buttons-container {
    width: 90%;
  }