.card-container {
  display: flex;
  flex-direction: column;
  background: #3399CC;
  width: 450px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}


.card-container-fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ready-order-card {
  background: #50c696;
}

.row {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px 10px;
  padding: 5px 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

#row1 {
  display: flex;
  width: 450px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

#row2 {
  background-color: transparent; 
  box-shadow: none;
}

#row3 {
  flex-direction: column;
  background: white;
  border-radius: 25px 25px 0 0;
}

#row4 {
  flex-direction: column;
  background: white;
  }

#row5 {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 0;
  padding: 15px 10px;
}

#row5-ready-nonotes {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 0 0 25px 25px;
  padding: 15px 10px;
}

#row6 {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 0 0 25px 25px;
  padding: 15px 10px;
}


#row7 {
  flex-direction: column;
  box-shadow: none;
  background-color: transparent; 
}



.order-number-container {
  width: 90%;
}

.order-number-text {
  color: white;
  font-size: 2em;
  font-weight: 700;
}

.card-data-table {
  text-align: left;
  border-radius: 10px;
  border-collapse: collapse;
  
}

.card-data-table th,
.card-data-table td {
  padding: 10px 10px 10px 10px;
}

.col1 {
  text-align: left;
  width: 25%;
  font-weight: 700;
}

.col2 {
  text-align: left;
  width: 75%;
}

.delay-input {
  border: 1px solid rgba(136, 135, 135, 0.75);
  outline: none; 
  margin-left: 0;
  border-radius: 5px;
}

input.delay-input {
  width: 85px;
  color: red;
}


.react-datepicker__close-icon::after {
  background-color: transparent;
  color: rgba(136, 135, 135, 0.75);
  font-weight: 900;
  font-size: 1.4em;
}


.items-table {
  text-align: left;
  padding: 5px 2px;
  border-collapse: collapse;
  width: 90%;
}



.items-table td, .items-table th {
  border-bottom: 1px solid rgba(136, 135, 135, 0.75);
  margin: 20px 20px;
  padding: 10px;
}

.items-table th {
  font-weight: 700;
}

.items-table tbody tr:last-child td {
  border-bottom: none; /* Remove the border from the last row */
}

.qty {
  text-align: center;
  width: auto;
  font-weight: 700;
}

.dimensions-container {
  width: 90%;
}

.no-box-message {
  color: red;
  font-weight: 700;
}

  
.note-container {
  width: 90%;
}

.row7-buttons-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

#row7 button {
  color: white;
  border: none;
  padding: 12px 12px;
  width: 100px;
  border-radius: 11px;
  margin: 0 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#row7 button:hover {
  opacity: 0.75;
  box-shadow: none;
}

#row7 #ready {
  background-color: #19c37d;
}


#row7 #edit {
  background-color: #ff8f00; 
}

#row7 #shipped {
  background-color: #004596;
}





