body {
  margin: 0;
  padding: 0;
}

.main-area {
    width: 100%;
    margin: 75px 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }
  

.cards-container {
  display: flex;
  background: #1ca2b3;
  width: 400px; 
  margin: 40px auto;
  padding: 25px; 
  border-radius: 10px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.single-card-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.single-card-data {
  display: flex;
  flex-direction: column;
}


.row1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: #edf5f8;
  border-radius: 10px; 
}

.row3 {
  display: flex;
  width:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
  
.row4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.row4 button {
  margin: 0px 5px;
  background-color: white;
  border: none;
  padding: 4px 5px;
  font-size: 12px;
}

.order-data {
  display:flex;
  flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 10px; 
}
  
.ship-date {
  color: #1b4965;
  font-weight: bold;
}
  
.order-number, .customer {
  font-weight: normal;
  color: #1b4965;
}
  
.items-table {
  font-weight: normal;
  color: #1b4965;
  background: #cfe0e6;
  text-align: left;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px; 
  border-collapse: collapse;
  width: 100%;
}
  

.qty {
  text-align: center;
}

.items-table th,
.items-table td {
  padding: 8px;
  border-bottom: 1px solid black;
}

.items-table tbody tr:last-child td {
  border-bottom: none; /* Remove the border from the last row */
}