.row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  column-gap: 10px;
}

.row2 input#search {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.row2 input:focus {
  outline: none;
}

.row2 select {
  padding: 4px 8px;
  border: none;
  width: 150px;
  border-radius: 5px;
  margin: 0 5px;
}

/* Checkbox Dropdown Menu */

.custom-dropdown button {
  width: 150px;
}

.custom-dropdown button .svg-inline--fa {
  vertical-align: -0.2em;
  color: black;
  font-size: 0.8rem;
}

.custom-dropdown button:hover {
  opacity: 1;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 0;
  z-index: 1;
  width: 150px;
  max-height: fit-content;
  overflow-y: auto;
  margin: 0;
}

.custom-dropdown-menu label {
  display: block;
  padding: 1px 12px;
  margin: 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.custom-dropdown-menu input[type="checkbox"] {
  margin-right: 10px;
}

.custom-dropdown.open .custom-dropdown-menu {
  display: block;
}

/* Styling for when the dropdown is open */
.custom-dropdown.open button {
  border-color: #aaa;
}
