.main-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.closed-orders-table {
  border-collapse: collapse;
  width: 97%;
  border: 2px solid black;
  margin: 20px 0;
}

.closed-orders-table th {
  background-color: #333;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.closed-orders-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.closed-orders-table > tbody > tr:nth-child(even) {
  background-color: #e4e4e4;
}

.closed-orders-table > tbody > tr:nth-child(odd) {
  background-color: white;
}

.item-table,
.package-table,
.notes-table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

.closed-orders-table .item-table th,
.closed-orders-table .item-table td,
.closed-orders-table .package-table th,
.closed-orders-table .package-table td,
.closed-orders-table .notes-table th,
.closed-orders-table .notes-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.closed-orders-table #item {
  text-align: left;
  width: 70%;
}

.closed-orders-table #qty {
  text-align: center;
  width: 30%;
}

.closed-orders-table #box-number {
  text-align: center;
  width: 10%;
}

.closed-orders-table #dimensions {
  text-align: left;
  width: 65%;
}

.closed-orders-table #weight {
  text-align: center;
  width: 25%;
}

.closed-orders-table svg {
  color: rgb(152, 196, 152);
}

.closed-orders-table .svg-inline--fa:hover {
  opacity: 20%;
  color: green;
}

.closed-orders-table tbody tr {
  transition: opacity 0.5s ease;
}

.closed-orders-table tbody tr.fade-out {
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.closed-orders-table #ship-date {
  width: 10%;
}
.closed-orders-table #order-number {
  width: 10%;
}
.closed-orders-table #customer {
  width: 10%;
}
.closed-orders-table #items {
  width: 20%;
}
.closed-orders-table #packages {
  width: 20%;
}
.closed-orders-table #notes {
  width: 10%;
}
.closed-orders-table #shipped {
  width: 10%;
}

.row-fade-out {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}
