.add-line-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-line-item-container .add-line-item-inputs {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.add-line-item-container #add-line-item-name {
    width: 200px;
    border-radius: 5px 0 0 5px !important;
}

.add-line-item-container #add-line-item-qty {
    width: 60px;
    margin-left: 3px;
    border-radius: 0 !important;
}

.add-line-item-container #add-line-item-button {
    padding: 5px 7px;
    background-color: #19c37d;
    border: none;
    color: white;
    margin-left: 3px;
    border-radius: 0 5px 5px 0;
}

.add-line-item-container #line-item-list li {
    font-size: 0.8rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 5px 0;
    background-color: #f0f3f5;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 8px;
}

.add-line-item-container .delete-line-item-button {
    display: flex;
    padding: 4px 8px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
}