.add-note-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-note-item-container .add-note-item-inputs {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}

.add-note-item-container #add-note-text {
    width: 256px;
    border-radius: 5px 0 0 5px !important;
}

.add-note-item-container #add-note-item-name {
    width: 193px;
}

.add-note-item-container #add-note-item-qty {
    width: 60px;
    margin-left: 3px;
}

.add-note-item-container #add-note-item-button {
    padding: 5px 7px;
    background-color: #19c37d;
    border: none;
    color: white;
    margin-left: 3px;
    border-radius: 0 5px 5px 0;
}

.add-note-item-container #note-item-list li {
    font-size: 0.8rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 5px 0;
    padding: 0 0 0 8px;
    background-color: #f0f3f5;
    border-radius: 5px 0 0 5px;
}

.add-note-item-container #delete-note-item-button {
    display: flex;
    padding: 4px 8px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
}