.add-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-order-container form {
    background-color: white;
    padding: 20px;
    width: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-order-table {
    width: 100%;
    align-items: center;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.add-order-table input {
    border-radius: 0;
    border: 1px rgb(214, 214, 214) solid;
    padding: 4px 7px;
}

.add-order-table input:focus {
  outline: none;
}

.add-order-table td #add-quote {
    width: 15px; 
    margin-left: 0;
}

.add-order-table td:first-child {
    width: 30%;
}


table.add-order-table td input {
    width: 100%;
}

.add-order-table tr .items-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.add-order-table td #add-item {
    width: 209px!important;
}

.add-order-table td #add-item-qty {
    width: 45px;
    margin-left: 3px;
}

.add-order-table #add-line-item-button, .add-order-table #add-note-button {
    padding: 5px 7px;
    background-color: #19c37d;
    border: none;
    color: white;
    margin-left: 3px;
}

.add-order-table td #add-note {
    width: 257px;
}

.add-order-table .react-datepicker-wrapper {
    width: 100%;
}

.add-order-table .react-datepicker__close-icon {
    right: -5px;
    top: -7px;
}



.add-order-container #submit-new-order-button {
    padding: 8px 12px;
    background-color: #19c37d;
    border: none;
    color: white;
    margin-top: 10px; 
}

.add-order-container button:hover {
    opacity: 0.5;
}