.add-order-report-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-order-report-container form {
    background-color: white;
    padding: 30px 40px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.add-order-report-container input {
    width: 100%;
    cursor: pointer;
}

.add-order-report-container button {
    padding: 5px 7px;
    background-color: #19c37d;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0; 
}

.add-order-report-container button:hover {
    opacity: 0.5;
}


.add-order-report-container input::file-selector-button {
    font-weight: bold;
    color: black;
    border: none;
    height: 100%;
    padding: 4px 7px;
    background-color: rgb(214, 214, 214);
    font-weight: 600;
    border-radius: 5px 0 0 5px; 
  }
  
  .add-order-report-container input::file-selector-button:hover {
    opacity: 0.5;
  }
  

.add-order-report-container input {
    background-color: white;
    font-weight: bold;
    border: 1px rgb(214, 214, 214) solid;
    cursor: pointer;
    font-weight: 400;
    border-radius: 5px 0 0 5px; 
  }
  

  .previous-uploads-table {
    width: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: left;
}

.previous-uploads-table table {
    background-color: white;
    padding: 30px 40px;
    width: 100%;
    border-radius: 15px;
}

.previous-uploads-table table th {
    font-weight: 700;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.previous-uploads-table table td, .previous-uploads-table table th {
    width: 50%;
}

.no-file-message {
    text-align: center;
    width: 450px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;
    
}