.all-main-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.all-orders-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

.all-orders-table {
  width: 95%;
  border: 2px solid #004596;
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: separate;
}

.all-orders-table th {
  background-color: #004596;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  padding: 8px;
}

.all-orders-table th {
  vertical-align: middle !important;
}

.all-orders-table td {
  border: 1px solid;
  padding: 8px;
  text-align: center;
}

.all-orders-table > tbody > tr:nth-child(even) {
  background-color: #e4e4e4;
}

.all-orders-table > tbody > tr:nth-child(odd) {
  background-color: white;
}

.all-orders-table .item-table,
.all-orders-table .package-table,
.all-orders-table .notes-table {
  border-collapse: collapse;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.all-orders-table .item-table th,
.all-orders-table .item-table td,
.all-orders-table .package-table th,
.all-orders-table .package-table td,
.all-orders-table .notes-table th,
.all-orders-table .notes-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.all-orders-table th {
  align-items: center;
}

.all-orders-table #qty {
  text-align: center;
  width: 30%;
}

.all-orders-table #box-number {
  text-align: center;
  width: 10%;
}

.all-orders-table #dimensions {
  text-align: left;
  width: 65%;
}

.all-orders-table #weight {
  text-align: center;
  width: 25%;
}

.all-orders-table tbody tr {
  transition: opacity 0.5s ease;
}

.all-orders-table tbody tr.fade-out {
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.all-orders-table #ship-date {
  min-width: fit-content;
  width: 10%;
}
.all-orders-table #ship-date input {
  width: 25px;
}
.all-orders-table #ship-date .react-datepicker__input-container {
  margin-left: 2.5px;
}

.edit-ship-date-div {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit-ship-date-div input#delay-tbd-checkbox {
  width: 10px;
  margin-left: 2px;
  background-color: black;
}

.red-delay-date-text {
  color: red;
}

.red-delay-text {
  color: red;
  font-size: 0.7rem;
}

.all-orders-table #order-number {
  width: 10%;
}
.all-orders-table #customer {
  width: 10%;
}
.all-orders-table #items {
  width: 20%;
  vertical-align: top;
}

.all-orders-table #item {
  text-align: left;
  width: 70%;
}

.all-orders-table #qty {
  text-align: center;
  width: 30%;
  vertical-align: middle;
}

#backorder-text {
  color: #B6B6B6;
  font-weight: 400;
  margin: 0;
}

.all-orders-table #packages {
  width: 20%;
  vertical-align: top;
}
.all-orders-table #notes {
  width: 20%;
  vertical-align: top;
}
.all-orders-table #confirmed {
  width: 5%;
  text-align: center;
}

.all-orders-table #ready {
  width: 5%;
  text-align: center;
}
.all-orders-table #shipped {
  width: 5%;
  text-align: center;
}

#shipped-status-div {
  display: flex;
  justify-content: center;
}

.all-orders-table #delete {
  text-align: center;
  width: 5%;
}

.all-orders-table tbody tr {
  transition: opacity 0.5s ease;
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* SVG STYLING */

.all-orders-table .svg-inline--fa.edit-icon {
  color: #B6B6B6;
}

.all-orders-table .svg-inline--fa.edit-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.all-orders-table .svg-inline--fa.unquote-icon {
  color: #B6B6B6;
}

.all-orders-table .svg-inline--fa.unquote-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.all-orders-table .svg-inline--fa.unship-icon {
  color: #B6B6B6;
}

.all-orders-table .svg-inline--fa.check-icon {
  color: #50c696;
}

.all-orders-table .svg-inline--fa.x-icon {
  color: red;
  opacity: 0.6;
}

.all-orders-table .svg-inline--fa.star-icon {
  color: #887dce;
}


.all-orders-delete-div #delete-order-button .svg-inline--fa {
  border: none;
  color: #B6B6B6;
}